// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


body {
    font-family: 'Rubik', sans-serif;
}


.main-logo {
    width: 215px;
    font-family: 'Gotham';
}

.my-hero {
    margin-top: 77px;
    min-height: 80vh;
    background-color: #ddd;
    position: relative;
    overflow: hidden;


    #video-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .overlay {
        background: rgba($color: #000000, $alpha: .75);
        position: absolute;
        left: 0;
        width: 100%;
        top: 0;
        height: 100%;
        z-index: 99;
    }

    .captions {
        position: absolute;
        top: 50%;
        left: 20px;
        right: 20px;
        transform: translateY(-50%);
        text-align: center;
        color: #fff;
        z-index: 999;

        h1 {
            font-weight: 900;
            font-size: 2.5em;
        }

        .btn {
            padding: 10px 25px;
            font-size: 1.25em;
        }
    }

    @include media-breakpoint-up(lg) {
        height: 80vh;
    }
}

.nav-link {
    font-size: 1.1em;
    font-weight: 700;
    color: $red;

    &.active {
        font-weight: 900;
        color: $white !important;
    }
}


.btn {
    border-radius: 25px;
}

.section-wrapper {
    padding-top: 9em;
    padding-bottom: 7em;
    position: relative;
    // text-align: center;

    .section-title {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 200px;
        min-height: 75px;
        background-color: $primary;
        display: flex;
        align-items: center;

        h2 {
            flex: 1;
            font-size: 1.8em;
            line-height: 149%;
            font-weight: 400;
            word-break: break-word;
            text-align: center;
            color: $white;
            letter-spacing: 2px;
            padding: 0 1.2em;
        }

        &::after {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 75px 58px 0 0;
            border-color: $grey transparent transparent transparent;
            position: absolute;
            top: 0;
            right: 0;
            transform: translateX(100%);
        }

    }

    .section-content {
        .number {
            font-size: 261px;
            font-weight: 700;
            color: #000000;
            text-shadow: -1px 0 #b3b3b3, 0 1px #b3b3b3, 1px 0 #b3b3b3, 0 -1px #b3b3b3;
            line-height: 100%;
            height: 165px;
            overflow: hidden;
            margin-bottom: -10px;
            -webkit-transform: translateZ(0);
        }

        h4 {
            font-size: 2.4em;
            color: #fff;
            font-weight: 700;
            line-height: 110%;
            margin-top: .7em;
        }

        h5 {
            color: $grey;
        }

        &.portfolios {
            .grid-item {
                width: 100%;
                margin-bottom: 10px;
            }

            @include media-breakpoint-up(md) {
                .grid-item {
                    width: 32.8%;
                    margin-bottom: 9px;
                }
            }

            .tab {
                display: flex;
                justify-content: center;
            }

            .tab button {
                margin: 5px;
            }

            .portfolio-grid {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                gap: 10px;
            }

            .thumbnail {
                overflow: hidden;
            }

            .thumbnail img {
                width: 100%;
                height: auto;
                display: block;
                transition: transform 0.3s ease;
            }

            .thumbnail img:hover {
                transform: scale(1.1);
            }

        }

    }

    &#servis {
        .section-content {
            .caption {
                color: $grey;
                font-size: 1.3em;
                padding-top: .5em;
                padding-bottom: .5em;
            }
        }
    }

    &.bg-light {
        .section-content {
            p {
                color: #b3b3b3;
                font-size: 1.3em;
                word-spacing: .1em;
            }

            h4 {
                color: #000000;
            }
        }
    }
}

.swiper {
    width: 100%;
    height: 175px;
    margin-top: 25px;

    .swiper-wrapper {
        .swiper-slide {
            img {
                max-width: 100%;
            }
        }
    }
}

.card {
    &.c-pricing {
        margin-bottom: 5em;
        background-color: transparent;
        border: 1px solid $white;
        border-radius: 0;
        color: white;
        padding-bottom: 3em;

        @include media-breakpoint-up(lg) {
            min-height: 790px;
        }

        .card-body {
            text-align: left;
            position: relative;

            .price-number {
                font-size: 180px;
                font-weight: 700;
                background-color: #000;
                width: 140px;
                text-align: right;
                color: #000;
                text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
                line-height: 100%;
                margin-bottom: -10px;
                position: absolute;
                top: -50px;
                right: -9px;
                z-index: 1;
            }

            h2 {
                color: $red;
                font-weight: 500;
                margin-top: 1.7em;
                margin-bottom: 3em;
                font-size: 1.5em;
            }

            h4 {
                font-size: 1.5em;
                font-weight: 500;
            }

            h3 {
                margin-bottom: 1.2em;
                font-size: 2em;
                font-weight: 800;
                color: $red;
            }

            ul {
                li {
                    font-size: 1.3em;
                    padding-bottom: .8em;
                }
            }
        }
    }
}

.team {
    .c-team {
        img {
            max-width: 100%;
            width: 80%;
            margin: 0 auto;
            max-height: 90px;
            overflow: hidden;
        }
        .img-avatar {
            width: 175px;
            height: 175px;
            background-size: cover !important;
            background-position: top center !important;
            border-radius: 50%;
            margin: 0 auto;
        }
    }

    .card {
        border-color: $primary;

        .card-body {}

        .card-header {
            padding: 2em 1em;
            position: relative;

            h3 {
                color: $primary;
                margin-top: 18px;
            }

            p {
                margin: 0;
                color: $grey;
            }

            &::before {
                position: absolute;
                top: 0;
                left: 20%;
                right: 20%;
                content: '';
                background-color: $primary;
                clip-path: polygon(0 0, 100% 0, 97% 75%, 3% 75%);
                height: 10px;
            }
        }
    }
}

.work-flow {
    color: #b3b3b3;
    text-align: center;

    @include media-breakpoint-up(lg) {
        text-align: left;
    }

    .flow-item {
        margin-bottom: 3.5em;

        .flow-number {
            font-size: 80px;
            line-height: 100%;
            font-weight: 700;
            position: relative;
            margin-bottom: 0;
            color: #000000;
            text-shadow: -1px 0 #b3b3b3, 0 1px #b3b3b3, 1px 0 #b3b3b3, 0 -1px #b3b3b3;

        }

        h1 {
            font-size: 2.2em;
            font-weight: 900;
            margin: .4em 0;
            @include media-breakpoint-up(lg) {
                padding: 0;
                margin: 0;
            }
        }

        p {
            max-width: 85%;
            margin: 0 auto;
            font-size: 1.2em;
            @include media-breakpoint-up(lg) {
                padding-top: .8em;
                margin: 0;
            }
        }
    }
}

.contact {
    text-align: center;

    .contact-left {
        h6 {
            font-size: 1.2em;
            margin-bottom: 1.5rem;
            text-transform: uppercase;
            @include media-breakpoint-up(lg) {
                text-align: left;
            }
        }
        
        h3 {
            font-size: 2rem;
            font-weight: 900;
            margin-bottom: 2rem;
            @include media-breakpoint-up(lg) {
                text-align: left;
                font-size: 3.5em;
            }
        }
        
        @include media-breakpoint-up(lg) {
            p {
                text-align: left;
            }
        }
    }


    .btn-contact {
        font-weight: 500;
        font-size: 1.2em;
        padding: 12px 0;
        border-radius: 50px;
    }
}

.text-gray {
    color: $grey;
}

.text-muted {
    color: #b3b3b3 !important;
}

.about {
    text-align: center;

    @include media-breakpoint-up(lg) {
        text-align: left;

        .about-left {
            padding-top: 4em;
        }
    }


    h4 {
        &.about-title {
            font-size: 1.8em;
            padding-bottom: 20px;
            margin-top: 20px !important;
            margin: 0;

            @include media-breakpoint-up(lg) {
                font-size: 2.8em;
                vertical-align: 1em;
            }
        }
    }

    .about-right {
        margin-top: 4em;

        @include media-breakpoint-up(lg) {
            margin-top: 0;
        }
    }
}

.btn-lg {
    font-size: 1.2rem !important;
    border-radius: 35px;
    padding: .9rem 2.2em;
}

.client {
    p {
        font-size: 1.1rem !important;
        margin-top: 2rem !important;
    }
}

.pricing {
    .section-content {
        margin-top: 3em;
    }
}

.bg-gray {
    background-color: #989898;
}


footer {
    .divider-vertical {
        position: relative;
        height: 50px;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 2px;
            height: inherit;
            background-color: $white;
        }
    }

    .divider-horizontal {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 10%;
            // transform: translateX(-50%);
            right: 10%;
            height: 2px;
            background-color: $white;

            @include media-breakpoint-up(lg) {
                left: 42%;
                right: 42%;
            }
        }
    }

    .footer-logo {
        max-width: 250px;
        margin-bottom: 25px;
    }

    .footer-email {
        font-size: 2.2em;
        font-weight: 700;
        margin: 25px;
    }

    .footer-socmed {
        margin-top: 25px;
    }

    .socmed {
        margin: 25px 0;

        .socmed-item {
            margin-right: 15px;

            &:last-child {
                margin-right: 0px;
            }

            a {
                display: block;
                color: white;
                font-size: 1em;

                .fa-brands {
                    font-size: 2em;
                }
            }
        }
    }
}

// $hamburger-size: 30px;
// $hamburger-color: #333;
// $animation-duration: 0.3s;

.hamburger-menu {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: $white;
    transition: transform 0.3s, opacity 0.3s;
}

.hamburger-menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

@include media-breakpoint-down(lg) {
    .main-menu {
        position: fixed;
        right: -75%;
        top: 77px;
        width: 75%;
        bottom: 0;
        transition: right .2s  ease-out;
        background-color: #000 !important;
        &.active {
            right: 0%;
            transition: right .2s  ease-in;
        }
        .navbar-nav {
            .nav-item {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
}

.content-title {
    margin-bottom: 4rem;
    text-align: center;
}

.content-text {
    font-size: 1.7rem;
    font-weight: 100;
}